# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
/bin-int

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
/bin

# Visual Studio
/.vs
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Logging
*.log
/Logs