[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/Peanutt42/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Peanutt42/imgui.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/Peanutt42/shaderc.git
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "vendor/libsndfile"]
	path = vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
