# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
**/bin-int
**/int
**/Intermediates

# Precompiled Headers
*.gch
*.pch

# Executables
*.out
*.app
/bin
TestProject/Binaries
Programs/ReflectionGenerator/bin
Programs/CrashReporter/bin

# Visual Studio
**/.vs
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# CLion/Rider
**/.idea

# Logging
*.log
/Logs

# generated cached files
*.cached_shader

# generated reflection info
TestProject/Source/generated/Module.cpp
